{% extends "main.html" %}


{% block content %}

    <script>
    function deletesong(id) {
        var xmlhttp;
        if (window.XMLHttpRequest) {        // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp=new XMLHttpRequest();
        }
        else {                              // code for IE6, IE5
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange=function() {
            setTimeout(function() { location.reload(); }, 0500);
        }
        xmlhttp.open("DELETE", "http://127.0.0.1:8000/front/backusers/" + id + "/", true);
        xmlhttp.send();
    }
    </script>


    {% if content %}

        {% for s in content %}
            <p>
                <!--<button type="button" onclick="deletesong({{ s.id }})">del</button>-->
                <!--<input type="submit" value="edit" onclick="window.location='http://127.0.0.1:8000/front/editsong/?id={{s.id}}';" />-->
                <a href="http://127.0.0.1:8000/front/users/{{ s.id }}/">
                    {{ s.name }} <font color="#666666">({{ s.age }})</font>
                </a>
            </p>
        {% endfor %}


        {% if page > 1 %}
            <a href='{{url}}?page={{ page|add:"-1" }}'> < </a>
        {% endif %}

        {{page}}/{{pages}}

        {% if page < pages %}
            <a href='{{url}}?page={{ page|add:"+1" }}'> > </a>
        {% endif %}

    {% else %}
        no users
    {% endif %}

    <br>
    <br>
    <a href="http://127.0.0.1:8000/front/edituser/">add user</a>

{% endblock %}
